*:not(i) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "MarkPro";
}

/* header */

header {
    position: sticky;
    width: 100%;
    z-index: 999;
    transition: .4s all ease;
    background: #fff;
    top: 0;
}

header.sticky {
    position: sticky;
    top: 0;
}

.modal-body input,
.modal-body textarea {
    width: 100%;
    padding: .6rem 1rem;
    border: 1px solid #e9e9e9;
    outline: none;
    border-radius: .2rem;
}

.modal-body textarea {
    padding: 1rem 1rem;
    min-height: 150px;
    resize: none;
}

.modal-body button {
    width: 100%;
    padding: 1rem;
    background: #B82A2B;
    color: #fff;
    font-weight: 600;
    border-radius: 0.3rem;
    letter-spacing: .3px;
    transition: .4s all ease;
    border: 1px solid transparent;
}

.modal-body button:hover {
    border: 1px solid #B82A2B;
    background: none;
    color: #000;
}

.modal-dialog {
    min-width: 50%;
}

header.fixed {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header .logoimg img {
    padding-bottom: 24px;
}

header.fixed .navbar-top {
    padding-top: .5rem;
}

.online-sorgu.about_left a {
    border: none;
    background: none;
    color: #000;
}

.ham-lines .line {
    width: 33px;
    height: 3.5px;
    background-color: #000;
}

.ham-lines {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

ul.pushNav {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.pushNav {
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: hidden;
    display: none;
    background: #383a44;
    transition: ease-in-out 0.5s;
    flex-direction: column;
}

.pushNav i {
    display: inline;
}

.pushNav hr {
    border: 1px solid #555;
}

.pushNav,
.pushNav a {
    font-size: 1em;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

.pushNavIsOpen {
    overflow: auto;
    height: 100%;
}

.js-topPushNav.isOpen,
.pushNav_level.isOpen {
    right: 0;
}

.closeLevel,
.openLevel {
    cursor: pointer;
}

.openLevel,
.closeLevel,
.pushNav a {
    padding: 1em 0;
    display: flex;
    text-indent: 20px;
    transition: background 0.4s ease-in-out;
}

.openLevel:hover,
.closeLevel:hover,
.pushNav a:hover {
    background: #494a50;
}

.hdg {
    background-color: #2d2d31;
}

.closeLevel,
.closelevel>i {
    font-size: 1em;
    color: #a5a5a4;
}

.burger i {
    font-size: 2em;
    float: right;
}

.screen {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.pushNavIsOpen .screen {
    height: 100%;
    opacity: 1;
}

.fa-navicon {
    display: inline;
    padding: 5px;
    color: #000;
}

.ham-wrapper {
    display: none;
}

.ham-wrapper a {
    color: #20c270;
    text-decoration: none;
}

.ham-wrapper button {
    background-color: #20c270;
    margin: 50px auto;
    display: block;
    padding: 10px 40px;
    border: none;
}

.ham-wrapper button:hover {
    background-color: #18a960;
}

.ham-wrapper button a {
    color: #fff;
    font-size: 2em;
}

.js-topPushNav.isOpen,
.pushNav_level.isOpen {
    right: 0;
}

.navbar-top {
    padding-top: 1rem;
    transition: .4s all ease;
}

.number span:first-child {
    font-weight: 600;
}

.number span {
    opacity: .7;
}

.navbar-nav .nav-item .areas-menu {
    position: absolute;
    left: 96px;
    z-index: 200;
    background-color: white;
    /* padding: 20px; */
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.navbar-nav .nav-item:hover .areas-menu {
    opacity: 1;
    visibility: visible;
}

.container .navbar-nav .nav-item .areas-menu li:hover {
    background-color: #f3f3f3;
}

.navbar-nav .nav-item .mega-menu {
    position: absolute;
    left: 0;
    z-index: 200;
    background-color: #f8f8f8;
    width: 100%;
    box-shadow: 0px 20px 21px 0px #67676730;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.navbar-nav .sub-menu .nav-menu:hover .mega-menu {
    opacity: 1;
    visibility: visible;
}

.container .navbar-nav .nav-item .mega-menu li:hover {
    background-color: #f3f3f3;
}

.container .navbar-nav .nav-item .mega-nav {
    position: absolute;
    left: 0;
    z-index: 200;
    background-color: white;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container .navbar-nav .nav-item .mega-nav .sub-menu {
    display: flex;
    /*justify-content: space-between;*/
    width: 100%;
    transition: 0.3s;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    transition: .4s all ease;
}

header.fixed .navbar-nav {
    height: 60px;
}

hr {
    border-bottom: solid 1px rgb(35, 46, 67);
    opacity: 0.15;
    margin: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: bold;
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 18px;
    padding: 0 0px 20px 0px;
}

.container .navbar-nav .forhover span {
    position: relative;
}

.navbar-nav .forhover span:after {
    content: '';
    display: block;
    margin-top: 5px;
    background-color: #ffffff;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.600, 1.000);
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    opacity: 0.8;
    height: 1px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.navbar-nav .forhover:hover span:after {
    transform: scaleX(1);
}

.navbar-nav .forhover span:after {
    background-color: #3798da;
}

.container .navbar-nav .nav-item .areas-menu li a {
    padding: 1rem 1.5rem;
    position: relative;
    color: #191919;
    line-height: 1.2;
    font-size: 14px;
    display: block;
    border: 0;
}

.container .navbar-nav .nav-item:hover .mega-nav {
    opacity: 1;
    visibility: visible;
}

.container .navbar-nav .nav-item .mega-nav .sub-menu .nav-menu a {
    padding: 1rem 1.5rem;
    position: relative;
    line-height: 1.2;
    font-size: 16px;
    display: block;
    border: 0;
}

.nav-item a {
    color: var(--color2);
    display: block;
}

.container .navbar-nav .nav-item .mega-nav .sub-menu .nav-menu:hover {
    background: #ededed;
}

.sub-menu .nav-menu {
    position: relative;
}

.sub-menu .mega_sub_menu {
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    background: #fff;
}

.sub-menu .nav-menu:hover .mega_sub_menu {
    opacity: 1;
    visibility: visible;
}

/* header end */

/* slider */

#slider {
    overflow: hidden;
    width: 98%;
    margin: 10px auto;
    height: 60vh;
    border-radius: 1.5rem
}

#hero_slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero_prev_next,
.play {
    top: 50%;
    transform: translateY(-50%);
}

#hero_slider .swiper-slide {
    position: relative;
    display: flex;
    align-items: center
}

#breadcrumb_section img,
#hero_slider .swiper-slide img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover
}

.home_page_main_slider_desk {
    display: block;
}

.home_page_main_slider_mob {
    display: none;
}

@media only screen and (max-width: 768px) {
    .home_page_main_slider_desk {
        display: none;
    }

    .home_page_main_slider_mob {
        display: block;
    }
}

.hero_prev_next {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 98%
}

.hero_content,
.line-text {
    position: relative;
    z-index: 2
}

#hero_next,
#hero_prev,
.overlay-image_products {
    align-items: center;
    transition: .3s ease-in-out
}

#hero_next,
#hero_prev {
    background-color: #fff;
    width: 57px;
    height: 100px;
    border: 0;
    display: none;
    outline: 0;
    cursor: pointer;
    justify-content: center;
    font-size: 30px;
    color: #000
}

#hero_next:hover,
#hero_prev:hover {
    background-color: #009fe3;
    color: #fff
}

.line-text {
    width: 0;
    border-bottom: 3px solid #fff;
    margin: 10px 0
}

.line-text.animate-line {
    -webkit-animation-name: line;
    animation-name: line;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@keyframes line {
    0% {
        width: 0
    }

    100%,
    25% {
        width: 45%
    }

    50% {
        width: 70%
    }

    75% {
        width: 60%
    }
}

#hero_prev {
    border-bottom-right-radius: 9999px;
    border-top-right-radius: 9999px
}

#hero_next {
    border-bottom-left-radius: 9999px;
    border-top-left-radius: 9999px
}

#hero_slider .swiper-slide:after {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
    background: linear-gradient(0, #00000083, rgba(0, 0, 0, .411) 50%)
}

.hero_content {
    padding: 0
}

.hero_content h6 {
    width: 100%;
    line-height: 1.2;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px
}

.hero_content p {
    font-size: 14px;
    width: 100%;
    color: #fff;
    opacity: .8;
    display: -webkit-box;
    line-clamp: 6
}

@media screen and (min-width:560px) {

    #hero_next,
    #hero_prev {
        display: flex
    }

    #hero-section {
        height: 98vh;
        margin: 15px auto
    }
}

/* slider end */

/* ustunlukler */

.adv_titles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 2rem;
}

.adv_title h3 {
    font-size: 17px;
    color: #999999;
    position: relative;
    padding-left: 23px;
}

.adv_title h3::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    width: 8px;
    height: 8px;
    background-color: #009fe3;
}

.adv_title h2 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 15px;
}

.adv_titles p {
    color: #666666;
    font-size: 15px;
}

.adv_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 1rem;
    gap: 30px;
}

.adv_card {
    display: flex;
    flex-direction: column;
}

.adv_numbers {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 3px solid #DCDCDC;
    position: relative;
    overflow: hidden;
}

.odometer {
    font-size: 40px;
    font-weight: bold;
    color: #009fe3;
    text-align: center;
    line-height: unset !important;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner {
    overflow: visible;
}

.adv_numbers span {
    font-size: 60px;
    color: #009fe3;
    font-weight: 600;
}

.adv_numbers h3 {
    font-size: 17px;
    text-wrap: wrap;
}

.adv_text {
    padding-top: 1.5rem;
}

.adv_text p {
    font-size: 16px;
    color: #666;
}

/* ustunlukler end */

/* about */

#about {
    padding: 2rem 0;
}

.about_both {
    display: grid;
    grid-template-columns: .7fr 1fr;
    gap: 50px;
}

/* @media screen and (min-width: 1199px) {
    .about_both {
        grid-template-columns: 1fr 1fr;
    }    
} */

@media screen and (min-width: 1400px) {
    .about_both {
        grid-template-columns: 1fr 1fr;
    }
}

.about_left span i {
    margin-left: 5px;
    font-size: 16px;
}

.about_left span {
    display: block;
    line-height: 1.2;
    color: #009fe3;
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    font-weight: 400;
    margin-bottom: 20px;
}

.about_left h2 {
    margin-bottom: 24px;
    font-size: 42px;
    font-weight: 600;
}

.about_left p:not(.about-tab-text) {
    margin: 20px 0;
    font-size: 15px;
    line-height: 1.667;
    color: #737373;
}

.about-tab-text {
    font-size: 15px;
    line-height: 1.667;
    color: #737373;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.filter-menu-active {
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    margin-bottom: 20px;
}

.filter-menu-active button {
    background: transparent;
    border: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    width: 33%;
    color: #737373;
    padding: 12px 20px;
    position: relative;
}

.filter-menu-active button.active {
    color: #009fe3;
}

.filter-menu-active button.active:before {
    width: 100%;
}

.filter-menu-active button:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    top: 0;
    left: 0;
    background: #009fe3;
    transition: 0.4s;
    border-radius: 2px 2px 0 0;
}

.filter-menu-active button:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    height: 30px;
    width: 1px;
    background: rgba(21, 22, 28, 0.15);
    transform: translate(0, -50%);
}

.filter-active-cat1 {
    position: relative;
    min-height: 100px;
}

.filter-item {
    display: block;
    opacity: 0;
    transform: scale(0.8) translateZ(0);
    transition: transform 0.4s ease, opacity 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.filter-item.active {
    opacity: 1;
    transform: scale(1) translateZ(0);
    z-index: 1;
}

.about_left a {
    position: relative;
    z-index: 2;
    vertical-align: middle;
    display: inline-flex;
    gap: 15px;
    text-align: center;
    background-color: #009fe3;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    padding: 19px 30px;
    overflow: hidden;
    align-items: center;
}

.about_left a:hover {
    z-index: 1;
}

.about_left a:before {
    top: -2em;
    left: -2em;
}

.about_left a::after,
.about_left a::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #000;
    transition: 1s ease;
}

.about_left a:after {
    left: calc(100% + 2em);
    top: calc(100% + 2em);
}

.about_left a:hover:after,
.about_left a:hover:before {
    height: 410px;
    width: 410px;
}

.about_right {
    position: relative;
}

.about_right img:first-child {
    height: 430px;
    width: 310px;
    object-fit: cover;
}

.about_right img:nth-child(2) {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -50px;
    border-top: 6px solid #fff;
    border-left: 6px solid #fff;
    width: 400px;
    height: 420px;
}

#about .about-counter-wrap {
    background: transparent;
    border: 0;
    position: absolute;
    top: 0px;
    bottom: auto;
    right: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 290px;
}

#about .about-counter-number {
    font-size: 48px;
    font-weight: 600;
    color: #000
}

.about-thumb4 .about-counter-wrap .about-counter-text {
    margin-bottom: 0;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3em;
}

.about-tab-text {
    min-height: 50px;
}

/* about end */

/* services */

#services {
    padding: 3.5rem 0 2rem 0;
}

.services_title h2 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 2rem;
}

.services_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.services_img {
    height: 280px;
}

.services_item img {
    width: 100%;
    height: 100%;
}

.services_text {
    padding: 20px 34px 37px;
    background-color: #fff;
    border: 1px solid #e8e8e9;
    border-bottom: 4px solid #009fe3;
}

.services_text small {
    font-size: 12px;
    line-height: 2.33em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 500;
    color: #565969;
}

.services_text h3 {
    font-size: 27px;
    font-weight: 600;
    color: #000;
    transition: .5s all ease;
}

.services_item:hover .services_text h3 {
    color: #009fe3;
}

.services_text span:not(.plus) {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    padding-top: 1rem;
    font-size: 16px;
    color: #000;
}

.plus {
    font-size: 24px;
    padding: 9px 20px 11px;
    display: inline-block;
    background-color: #fff;
    transition: .5s all ease;
    color: #000;
}

.services_item:hover .plus {
    background-color: #009fe3;
    border-radius: 2px;
    box-shadow: 0 10px 20px 0 rgba(28, 135, 152, 0.5);
    color: #fff;
}

/* services end */

/* brend */

#brands,
#advantages {
    padding: 2rem 0;
}

#brend_swiper {
    width: calc(100% - 145px);
    margin: 0 auto;
}

#brands img {
    width: 100%;
    height: 100%;
}

#brands h2 {
    color: #b3b3b3;
    font-size: 18px;
    margin: 0;
}

#brands img {
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-filter: grayscale(100%) opacity(40%);
    filter: grayscale(100%) opacity(40%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.form-box-right-side i {
    padding-right: 10px
}

.form-box-right-side a {
    color: #000;
}

#brands img:hover {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

#brands .owl-nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: -1;
    width: 100%;
}

#brands .owl-nav button {
    width: 32px;
    height: 32px;
    line-height: 25px;
    border-radius: 100%;
    border: solid 1px #b3b3b363;
    color: #b3b3b3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
    position: absolute;
    left: -72px;
}

#brands button:hover {
    background: white;
    color: #c21416;
}

#brands .owl-next {
    right: -72px;
    left: unset !important;
}

#brands .owl-nav span {
    font-size: 35px;
    font-weight: 100;
}

#brands .owl-carousel {
    width: calc(100% - 145px);
    margin: 0 auto;
}

/* brend end */

/* fealiyyet saheleri */

#saheler {
    padding: 2rem 0;
    background-color: #eee;
}

.sahe_card_all {
    background-color: #009fe3;
    padding: 50px;
    min-height: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sahe_card_all h4 {
    font-size: 21px;
    font-weight: 600;
}

.sahe_card_all h2 {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
}

.sahe_card_all p {
    font-size: 21px;
    font-weight: 400;
}

.sahe_card_all a {
    border-radius: 60px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    display: inline-block;
    background-color: #fff;
    color: #000;
    width: fit-content;
    transition: .7s all ease;
    border: 1px solid transparent;
}

.sahe_card_all a:hover {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.sahe_card,
.sahe_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sahe_card {
    background-color: #fff;
}

.sahe_text {
    padding: 10px;
}

.sahe_card img {
    height: 430px;
    width: 100%;
    object-fit: cover;
    transition: .7s all ease;
}

.sahe_card h4 {
    font-size: 17px;
    color: #979797;
}

.sahe_card h2 {
    font-size: 24px;
    color: #000;
}

.sahe_card i {
    font-size: 30px;
    color: #009fe3;
}

.sahe_card:hover img {
    filter: brightness(70%) contrast(109%) saturate(101%) blur(0px) hue-rotate(6deg);
}

/* saheler end */

/* partnyorlar */

#partnors {
    padding: 2rem 0;
}

#partnors .partnor_title {
    margin-bottom: 31px;
}

.partnor_title {
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 15px 0;
    position: relative;
    display: inline-block;
}

.partnor_title::before {
    top: 0;
    left: 0;
    border-top: 3px solid #009fe3;
}

.partnor_title::after {
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #009fe3;
}

.partnor_title::before,
.partnor_title::after {
    content: '';
    width: 60px;
    height: 3px;
    position: absolute;
}

.partnors_row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 -4px;
}

.partnors_row div {
    width: calc(12.5% - 8px);
    margin: 4px;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    height: 90px;
    overflow: hidden;
}

.partnors_row div img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transition: all 0.225s ease 0s;
    transition: all 0.225s ease 0s;
    padding: 16px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.partnors_row div:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/* partnyorlar end */

/* call to action */

#call-to-action {
    padding: 36px 0;
    background-color: #eee;
}

#call-to-action .content_area {
    background-color: #fff;
    border-radius: 30px;
    padding: 60px 80px;
}

#call-to-action .call_to_action_content h3 {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    font-weight: 900;
    color: #000;
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 20px
}

#call-to-action .forms_textarea textarea,
.forms_input input {
    display: block;
    min-height: 56px;
    padding: 17px 18px;
    color: #000;
    opacity: .6;
    font-size: 14px;
    line-height: 20px;
    background-color: #f7f7f5;
    outline: 0;
    width: 100%;
    font-family: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#call-to-action .call_to_action_content h3 img {
    width: 50px;
    height: 50px
}

#call-to-action .call_to_action_content p {
    margin-top: 50px
}

#call-to-action .forms_area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px
}

#call-to-action .forms_area .forms_textarea {
    position: relative;
    width: 100%
}

#call-to-action .forms_textarea textarea {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    max-height: 200px;
    resize: vertical
}

.call_label {
    position: absolute;
    top: 20px;
    left: 25px;
    color: #000;
    font-size: 12px;
    line-height: 1;
    opacity: .9;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    pointer-events: none
}

.forms_btn,
.forms_input,
.forms_textarea {
    padding: 0 10px;
}

.forms_input {
    width: 100%;
    flex: 0 0 50%;
    position: relative;
}

.forms_input input {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

#call-to-action .forms_textarea textarea:focus+.call_label,
#call-to-action .forms_textarea textarea:valid+.call_label {
    position: absolute;
    top: 5px;
    font-size: 13px;
    width: 100%
}

#call-to-action .forms_input input:focus+.call_label,
#call-to-action .forms_input input:valid+.call_label {
    position: absolute;
    top: 5px;
    font-size: 13px;
    width: 100%
}

.forms_btn {
    width: 100%;
    flex: 0 0 50%;
}

.forms_btn button {
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    background: linear-gradient(to bottom, #009fe3 0%, #009fe3 100%);
    color: #fff;
    padding: .8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transition: .3s
}

.forms_btn button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .3)
}

.forms_btn button:active {
    transform: scale(.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2)
}

.forms_btn button span {
    display: block;
    transition: .3s
}

.forms_btn button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: .3s
}

.forms_btn button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .2);
    margin-right: .5em;
    transition: .3s
}

.forms_btn button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, .5)
}

.forms_btn button:hover svg {
    transform: rotate(45deg)
}

/* call to action end */

/* footer */

footer {
    background-color: #2a2a2a;
    padding: 60px 0;
}

footer .top .working-hours {
    color: #a5a5a5;
    margin: 0;
    font-size: 14px;
}

footer .top .number {
    color: white;
    font-size: 22px;
    margin: 0;
    font-weight: bold;
    margin-top: 4px;
}

footer .top .number a {
    color: inherit;
}

footer .top .number span {
    color: #44c373;
}

footer .top .get-offer {
    color: #c7c7c7;
    display: inline-block;
    background: url(../img/underline.png) center bottom repeat-x;
    font-size: 14px;
}

footer .top .get-offer a {
    color: inherit;
}

footer .top .get-offer:hover {
    color: white;
    background: none;
}

footer .top .info a {
    line-height: 16px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

footer .top .info i {
    color: #44c373;
    margin-right: 15px;
    font-size: 30px;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

footer .top .info img {
    margin-right: 15px;
}

footer .line .col-12 {
    border-bottom: 1px solid #3e3e3e;
    margin-top: 32px;
    margin-bottom: 44px;
}

footer .bottom .menu-items h1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 14px;
    color: white;
}

footer .bottom .menu-items ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer .bottom .menu-items ul li a {
    display: block;
    color: #c7c7c7;
    font-size: 13px;
    line-height: 24px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

footer .bottom .menu-items ul li a:hover {
    color: #44c373;
}

footer .bottom .button-wrapper a {
    display: block;
    border: 2px dashed #494949;
    width: 206px;
    height: 54px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 52px;
    border-radius: 5px;
    color: #c7c7c7;
    margin-left: auto;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

footer .bottom .button-wrapper a i {
    font-size: 20px;
    margin-right: 20px;
    color: white;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

footer .bottom .button-wrapper a:hover {
    border-color: #44c373;
    background-color: #44c373;
    color: white;
}

footer .social-ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-left: 30px;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 20px;
}

footer .social-ul .social-li {
    width: 45px;
    height: 40px;
    background-color: rgb(216, 216, 216, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 15px;
    transition: all 0.25s ease;
}

footer .social-ul .social-li i {
    color: #fff;
    font-size: 17px;
    margin-right: 0 !important;
}

footer .social-ul a {
    border: none !important;
    background-color: none !important;
    width: 45px !important;
    height: 40px !important;
    display: flex;
    margin-left: 0 !important;
}

footer .social-ul a:hover .social-li {
    opacity: 0.8;
}

footer .social-ul a:hover {
    border-color: transparent !important;
    background-color: transparent !important;
    color: white;
}

#slider .owl-theme .owl-dots {
    display: none;
}

.copyright {
    font-size: 13px;
    color: #c7c7c7;
    background-color: #1c1c1c;
    height: 84px;
}

.copyright a {
    color: #4b4b4b;
}

.copyright a span {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.copyright a:hover span {
    color: #44c373;
}

/* footer end */

@media screen and (max-width: 1201px) {
    .partnors_row div {
        width: calc(16.6% - 8px);
    }

    .about_both {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 991px) {
    .navbar-top {
        padding-bottom: 1rem;
    }

    .navbar-top.fixed {
        padding-bottom: 2rem;
    }

    .pushNav {
        width: 350px;
        right: -100%;
        width: 75%;
    }

    .ham-wrapper,
    .pushNav {
        display: block;
    }

    #slider .carousel-inner .carousel-item .box-img .large-img img {
        width: 100%;
        height: 100%;
    }

    .box-text {
        text-align: center;
        padding: 1rem 0;
    }

    header {
        position: sticky;
        top: 0;
    }
}